*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #ccc;
}

.conteiner{
    width: 100%;
    background-color: #173d83; 
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 350px   
}

.btn-classe{
    width: 400px;
    padding: 40px;
    font-size: 30px;
    font-family: cursive;
    background-color: #5879b6;
    border: none;
    color: white;
}

.btn-class{
    width: 330px;
    padding: 20px;
    font-size: 20px;
    font-family: cursive;
    background-color: #5879b6;
    border: none;
    color: white;  
    margin-top: 5px;
}

.btn-classe:hover{
    background-color: #0a0a0a;
    color: white;
    transition: 2s;
}
.input-classe{
    width: 350px;
    padding: 20px;
    background-color: #ffffff;
    border: none;
}

.conteiner label{
    font-size: 40px;    
    color: white;
    background-color: #173d83;
    font-family:sans-serif;
}
.hero{
    margin-top: 180px;
    position:relative;
}

.classes{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}